.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    font-size: 14px;
  }
  :global {
    .ant-menu-horizontal {
      border-bottom: none;
    }
    .ant-menu-item {
      width: 90px;
      margin: 0 20px;
      text-align: center;
    }
    .ant-menu-item::after {
      width: 100%;
      left: 0px;
    }
  }
}
